<?xml version="1.0" encoding="UTF-8"?>

<style xmlns:base="../../../../base/QuickRegistry.xml">
	<group name="opaque">
		<attr domain="bg" name="transparency" value="0" />
	</group>
	<type name="base:text-field">
		<group name="tfredborder">
			<attach-point name="border">
				<attr domain="border-style" name="color" value="red" />
			</attach-point>
		</group>
	</type>
	<group name="bg-red">
		<attr domain="bg" name="transparency" value="0" />
		<attr domain="bg" name="color" value="red" />
	</group>
	<group name="bg-blue">
		<attr domain="bg" name="transparency" value="0" />
		<attr domain="bg" name="color" value="blue" />
	</group>
	<group name="bg-green">
		<attr domain="bg" name="transparency" value="0" />
		<attr domain="bg" name="color" value="green" />
	</group>
	<group name="bg-purple">
		<attr domain="bg" name="transparency" value="0" />
		<attr domain="bg" name="color" value="purple" />
	</group>
	<group name="hours">
		<attr domain="font" name="color" value="purple" />
	</group>
	<group name="minutes">
		<attr domain="font" name="color" value="dark-green" />
	</group>
	<group name="seconds">
		<attr domain="font" name="color" value="dark-orange" />
	</group>
	<group name="timer-display">
		<type name="label">
			<attr domain="font" name="size" value="30" />
			<attach-point name="contents">
				<attr domain="layout" name="padding" value="0" />
				<attr domain="layout" name="margin" value="0" />
			</attach-point>
		</type>
	</group>
</style>
